@import url('../../css/fonts.css');
@import url('../../css/loader.css');

body {
  margin: 0;
  background-color: #111;
}

body * {
  box-sizing: border-box;
}

#background {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  filter: brightness(10%);
  background-size: cover;
  z-index: 0;
  transition: all 1500ms ease-in-out;
}

main {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 40px 30px;
  z-index: 1;
  opacity: 1;
  transition: all 200ms;
}

main.off {
  opacity: 0;
}

#verse,
#reference {
  font-family: 'Martel Bold', serif;
  font-style: normal;
  text-shadow: 0 0 2px #000;
  color: #fff;
  text-align: center;
}

#verse {
  font-size: 2.5em;
}

#reference {
  font-size: 2em;
  opacity: 0.5;
}

#openFullScreen {
  position: absolute;
  opacity: 0.1;
  bottom: 20px;
  right: 20px;
  background-image: url('../../css/svg/fullscreen.svg');
  background-size: cover;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 300ms ease-in;
}

#openFullScreen:hover {
  opacity: 1;
}

#openFullScreen.isFullScreen {
  background-image: url('../../css/svg/normalscreen.svg');
}
